In [1]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize

In [2]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
import os
import re
import string

# DATA

In [5]:
df = pd.read_csv('./data/stackexchange_812k.csv', keep_default_na=False)

/home/theon/.virtualenvs/NLP/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,post_id,parent_id,comment_id,text,category
0,1,,,Eliciting priors from experts,title
1,2,,,What is normality?,title
2,3,,,What are some valuable Statistical Analysis op...,title
3,4,,,Assessing the significance of differences in d...,title
4,6,,,The Two Cultures: statistics vs. machine learn...,title

In [7]:
df['clean_text'] = df.text.apply(lambda s: s.lower())

In [8]:
df.head()

,post_id,parent_id,comment_id,text,category,clean_text
0,1,,,Eliciting priors from experts,title,eliciting priors from experts
1,2,,,What is normality?,title,what is normality?
2,3,,,What are some valuable Statistical Analysis op...,title,what are some valuable statistical analysis op...
3,4,,,Assessing the significance of differences in d...,title,assessing the significance of differences in d...
4,6,,,The Two Cultures: statistics vs. machine learn...,title,the two cultures: statistics vs. machine learn...

## Clean punctuations

In [9]:
df.clean_text = df.clean_text.str.replace('[{}]'.format(string.punctuation), '')
df.head()

,post_id,parent_id,comment_id,text,category,clean_text
0,1,,,Eliciting priors from experts,title,eliciting priors from experts
1,2,,,What is normality?,title,what is normality
2,3,,,What are some valuable Statistical Analysis op...,title,what are some valuable statistical analysis op...
3,4,,,Assessing the significance of differences in d...,title,assessing the significance of differences in d...
4,6,,,The Two Cultures: statistics vs. machine learn...,title,the two cultures statistics vs machine learning

## Tokenize

In [11]:
# df.clean_text = df.clean_text.apply(lambda s: ' '.join(word_tokenize(s)))

In [12]:
df.head()

,post_id,parent_id,comment_id,text,category,clean_text
0,1,,,Eliciting priors from experts,title,eliciting priors from experts
1,2,,,What is normality?,title,what is normality
2,3,,,What are some valuable Statistical Analysis op...,title,what are some valuable statistical analysis op...
3,4,,,Assessing the significance of differences in d...,title,assessing the significance of differences in d...
4,6,,,The Two Cultures: statistics vs. machine learn...,title,the two cultures statistics vs machine learning

## Save clean csv

In [14]:
file_name = 'clean_data.csv'
%timeit df.to_csv(file_name, sep='\t')

22.1 s ± 1.14 s per loop (mean ± std. dev. of 7 runs, 1 loop each)